:root {
    --light: #92cccd;
    --dark: #31343d;
}

main {
display: flex;
flex-wrap: wrap;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-header {
    padding: 1px;
    background-color:var(--dark);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


.main-header h1 {
    display: inline-block;
    font-size: 50px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
    background-color: #92cccd;
    padding: 0 50px;
    color: var(--dark);
}

.main-header section {
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.main-header ul li {
    display: inline-block;
    list-style-type: none;

}

a {
    color: var(--light);
    display: inline-block;
    margin-left: 15px;
}


.about-me {
    display: flex;
    align-items: normal;
    justify-content: center;
    color: var(--dark);
}

.about-me h2 {
    font-size: 20px;
    justify-content: left;

}

.about-me-text {
    margin-left: 15px;
    font-size: 25px;
}

.picture-of-me {
    max-width: 100%;
    width: 800px;
    margin-left: 53px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.work-img-1,
.work-img-2,
.work-img-3 {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.img-large {
    float: left;
    margin-right: 0px;
}

.img-small {
    float: left;
    clear: left; 
    margin-right: 0px; 
    margin-top: 17px; 
}

.contact-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    position:relative;
    bottom: 0;
    width: 100%;

}

.contact-me a {
    font-size: 20px;
}


