:root {
    --light: #92cccd;
    --dark: #31343d;
}

.main-header {
    padding: 1px;
    background-color:var(--dark);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


.main-header h1 {
    display: inline-block;
    font-size: 50px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
    background-color: #92cccd;
    padding: 0 50px;
    color: var(--dark);
}

.main-header section {
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.main-header ul li {
    display: inline-block;
    list-style-type: none;

}

a {
    color: var(--light);
    display: inline-block;
    margin-left: 15px;
}


.about-me {
    display: flex;
    align-items: normal;
    justify-content: center;
    color: var(--dark);
    font-size: 25px;
}

.about-me h2 {
    font-size: 40px;
}

.picture-of-me {
    max-width: 100%;
    width: 800px;
}

.work-images {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-large {
    float: left;
    margin-right: 10px; /* Adjust the margin as needed */
}

.img-small {
    float: left;
    clear: left; /* Clear the float to ensure proper stacking */
    margin-right: 10px; /* Adjust the margin as needed */
    margin-top: 10px; /* Adjust the margin as needed */
}

.img-stack {
    width: 100%; /* Ensure images take full width of their container */
}


